@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'IBMMono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/IBMMono.woff2');
	font-display: swap;
}

html {
	@apply overflow-hidden  outline-none active:outline-none focus:outline-none;
}

* {
	@apply outline-none active:outline-none focus:outline-none font-thin text-sm;

	-webkit-tap-highlight-color: transparent;
}

::selection {
	@apply bg-gray-500 text-white;
}

/* div {
	@apply md:scrollbar-thin md:scrollbar-track-gray-50/50 md:scrollbar-thumb-gray-100 md:hover:scrollbar-thumb-gray-200;
}
 */
