@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'IBMMono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/IBMMono.woff2');
	font-display: swap;
}

* {
	@apply outline-none active:outline-none focus:outline-none font-thin text-sm;

	-webkit-tap-highlight-color: transparent;
}

::selection {
	@apply bg-gray-500 text-white;
}
